<!-- checkout area start -->
<div class="checkout-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="billing-info-wrap">
                    <h3>Thông tin khách hàng</h3>
                    <div class="row">
                        {{#with customer}}
                        <div class="col-lg-12">
                            <div class="billing-info mb-4">
                                <label>Họ tên</label>
                                <input name="name" class="info" type="text" value="{{HoTen}}"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-4">
                                <label>Số điện thoại</label>
                                <input name="phone" class="info" type="text" value="{{SoDienThoai}}"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-4">
                                <label>Email</label>
                                <input name="email" class="info" type="text" value="{{Email}}"/>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="billing-info mb-4">
                                <label>Địa chỉ</label>
                                <input name="address" class="info" placeholder="Số nhà, tên đường/ Xã, phường / Quận, huyện / Tỉnh, thành phố" type="text" value="{{DiaChiGiaoHang}}"/>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                    <div class="additional-info-wrap">
                        <h4>Lưu ý cho người bán</h4>
                        <div class="additional-info">
                            <textarea placeholder="" name="message" class="info"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-md-30px mt-lm-30px ">
                <div class="your-order-area">
                    <h3>Chi tiết đơn hàng</h3>
                    <div class="your-order-wrap gray-bg-4">
                        <div class="your-order-product-info">
                            <div class="your-order-top">
                                <ul>
                                    <li>Sản phẩm</li>
                                    <li>Thành tiền</li>
                                </ul>
                            </div>
                            <div class="your-order-middle">
                                <ul>
                                    {{#each products}}
                                    <li>
                                        <span class="col-lg-8 order-middle-left">
                                            {{TenSanPham}}/{{TenLoaiSanPham}} X {{SoLuongMua}}
                                        </span>
                                        <span style="text-align:right;" class="col-lg-4 order-price">{{ThanhTien}}vnđ</span>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="your-order-bottom">
                                <ul>
                                    <li class="your-order-shipping">Phí vận chuyển</li>
                                    <li>0đ</li>
                                </ul>
                            </div>
                            <div class="your-order-total">
                                <ul>
                                    <li class="order-total">Tổng cộng</li>
                                    <li id="total-bill">0</li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="Place-order mt-25">
                        <span id="order-error" style="color: red;"></span>
                        <a id="order" class="btn-hover" href="javascript:{}">Đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- checkout area end -->
{{!-- Handle for this page --}}
<script src="/js/checkout-handler.js" defer></script>
