<!-- offcanvas overlay start -->
<div class="offcanvas-overlay"></div>
<!-- offcanvas overlay end -->
<!-- OffCanvas Wishlist Start -->
<div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
    <div class="inner">
        <div class="head">
            <span class="title">Giỏ yêu thích</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Modern Smart Phone</a>
                        <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Bluetooth Headphone</a>
                        <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Smart Music Box</a>
                        <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="foot">
            <div class="buttons">
                <a href="/cart/wishlist" class="btn btn-dark btn-hover-primary mt-30px">Giỏ yêu thích</a>
            </div>
        </div>
    </div>
</div>
<!-- OffCanvas Wishlist End -->
<!-- OffCanvas Cart Start -->
<div id="offcanvas-cart" class="offcanvas offcanvas-cart">
    <div class="inner">
        <div class="head">
            <span class="title">Giỏ hàng</span>
            <button class="offcanvas-close">×</button>
        </div>
        <div class="body customScroll">
            <ul class="minicart-product-list">
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Modern Smart Phone</a>
                        <span class="quantity-price">1 x <span class="amount">$18.86</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Bluetooth Headphone</a>
                        <span class="quantity-price">1 x <span class="amount">$43.28</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
                <li>
                    <a href="/products/detail" class="image"><img src="/images/product-image/product.jpg" alt="Cart product Image"></a>
                    <div class="content">
                        <a href="/products/detail" class="title">Smart Music Box</a>
                        <span class="quantity-price">1 x <span class="amount">$37.34</span></span>
                        <a href="#" class="remove">×</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="foot">
            <div class="buttons mt-30px">
                <a href="/cart/cart" class="btn btn-dark btn-hover-primary mb-30px">Giỏ hàng</a>
                <a href="/cart/checkout" class="btn btn-outline-dark current-btn">Thanh toán</a>
            </div>
        </div>
    </div>
</div>
<!-- OffCanvas Cart End -->
<!-- OffCanvas Menu Start -->
<div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
    <button class="offcanvas-close"></button>
    <div class="user-panel">
        <ul>
            <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +84000000000</a></li>
            <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
            <li><a href="my-account.html"><i class="fa fa-user"></i> Tài khoản</a></li>
        </ul>
    </div>
    <div class="inner customScroll">
        <div class="offcanvas-menu mb-4">
            <ul>
                <li><a href="#"><span class="menu-text">Trang chủ</span></a>
                </li>
                <li><a href="about.html">Thông tin shop</a></li>
                <li>
                    <a href="#"><span class="menu-text">Trang</span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#"><span class="menu-text">Inner Pages</span></a>
                            <ul class="sub-menu">
                                <li><a href="404.html">404 Page</a></li>
                                <li><a href="order-tracking.html">Order Tracking</a></li>
                                <li><a href="faq.html">Faq Page</a></li>
                                <li><a href="coming-soon.html">Coming Soon Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="menu-text"> Other Shop Pages</span></a>
                            <ul class="sub-menu">
                                <li><a href="/cart/cart">Cart Page</a></li>
                                <li><a href="/cart/checkout">Checkout Page</a></li>
                                <li><a href="/products/productsCompare">Compare Page</a></li>
                                <li><a href="/cart/wishlist">Wishlist Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="menu-text">Related Shop Page</span></a>
                            <ul class="sub-menu">
                                <li><a href="my-account.html">Account Page</a></li>
                                <li><a href="login.html">Login & Register Page</a></li>
                                <li><a href="empty-cart.html">Empty Cart Page</a></li>
                                <li><a href="thank-you-page.html">Thank You Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#"><span class="menu-text">Shop</span></a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#"><span class="menu-text">Shop Page</span></a>
                            <ul class="sub-menu">
                                <li><a href="shop-3-column.html">Shop 3 Column</a></li>
                                <li><a href="shop-4-column.html">Shop 4 Column</a></li>
                                <li><a href="shop-left-sidebar.html">Shop Left Sidebar</a></li>
                                <li><a href="shop-right-sidebar.html">Shop Right Sidebar</a></li>
                                <li><a href="shop-list-left-sidebar.html">Shop List Left Sidebar</a>
                                </li>
                                <li><a href="shop-list-right-sidebar.html">Shop List Right Sidebar</a>
                                </li>
                                <li><a href="/cart/cart">Cart Page</a></li>
                                <li><a href="/cart/checkout">Checkout Page</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="menu-text">product Details Page</span></a>
                            <ul class="sub-menu">
                                <li><a href="/products/detail">Product Single</a></li>
                                <li><a href="single-product-variable.html">Product Variable</a></li>
                                <li><a href="single-product-affiliate.html">Product Affiliate</a></li>
                                <li><a href="single-product-group.html">Product Group</a></li>
                                <li><a href="single-product-tabstyle-2.html">Product Tab 2</a></li>
                                <li><a href="single-product-tabstyle-3.html">Product Tab 3</a></li>
                                <li><a href="single-product-slider.html">Product Slider</a></li>
                                <li><a href="single-product-gallery-left.html">Product Gallery Left</a>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><span class="menu-text">Single Product Page</span></a>
                            <ul class="sub-menu">
                                <li><a href="single-product-gallery-right.html">Product Gallery
                                        Right</a> </li>
                                <li><a href="single-product-sticky-left.html">Product Sticky Left</a>
                                </li>
                                <li><a href="single-product-sticky-right.html">Product Sticky Right</a>
                                </li>
                                <li><a href="/products/productsCompare">Compare Page</a></li>
                                <li><a href="/cart/wishlist">Wishlist Page</a></li>
                                <li><a href="my-account.html">Account Page</a></li>
                                <li><a href="login.html">Login & Register Page</a></li>
                                <li><a href="empty-cart.html">Empty Cart Page</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="contact.html">Liên hệ</a></li>
            </ul>
        </div>
        <!-- OffCanvas Menu End -->
        <div class="offcanvas-social mt-auto">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- OffCanvas Menu End -->
<!-- Product Details Area Start -->
<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <!-- Swiper -->
                <div class="swiper-container zoom-top">
                    <div class="swiper-wrapper">
                        {{#with productDetail}}
                        {{#each this.images}}
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src={{HinhAnh}} alt="">
                            <a class="venobox full-preview" data-gall="myGallery" href={{'hinh_anh_san_phams.HinhAnh'}}>
                                <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                            </a>
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
                <div class="swiper-container mt-20px zoom-thumbs slider-nav-style-1 small-nav">
                    <div class="swiper-wrapper">
                        {{#with productDetail}}
                        {{#each this.images}}
                        <div class="swiper-slide">
                            <img class="img-responsive m-auto" src={{HinhAnh}} alt="">
                        </div>
                        {{/each}}
                        {{/with}}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    {{#with productDetail}}
                    {{#with productInf}}
                    <h2>{{TenSanPham}}</h2>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price">{{DonGia}}vnđ</li>
                        </ul>
                    </div>
                    {{/with}}
                    {{/with}}

                    {{#with totalRating}}
                    <div class="pro-details-rating-wrap">
                        <div class="rating-product">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <span class="read-review">
                       <a class="reviews" href="#">{{SaoTrungBinh}} ({{TongDanhGia}} đánh giá)</a>
                        </span>
                    </div>
                    {{/with}}

                    {{#with productDetail}}
                    {{#with productInf}}
                    <p class="mt-30px">
                        Ram: {{Ram}}; 
                        Bớ nhớ trong: {{Rom}}; 
                        Màn hình: {{ManHinh}}; 
                        Pin: {{Pin}}
                    {{/with}}
                    </p>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Loại:</span>
                        <ul class="d-flex">
                            <li>  
                                <select name="product-type" id="">
                                    {{#with productInf}}
                                    <option value="">{{Ram}}GB/{{Rom}}GB</option>
                                    {{/with}}

                                    {{#each memory}}
                                    <option value="">{{Ram}}GB/{{Rom}}GB</option>
                                    {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                        <span>Màu sắc: </span>
                        <ul class="d-flex">
                            <li>
                                <select name="product-type" id="">
                                    {{#with productInf}}
                                    <option value="">{{MauSac}}</option>
                                    {{/with}}

                                    {{#each color}}
                                    <option value="">{{MauSac}}</option>
                                    {{/each}}
                                </select>
                            </li>
                        </ul>
                    </div>
                    {{/with}}

                    <div class="pro-details-quality">
                        <div class="cart-plus-minus">
                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                        </div>
                        <div class="pro-details-cart">
                            <button class="add-cart">Thêm vào giỏ hàng</button>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="/cart/wishlist"><i class="pe-7s-like"></i></a>
                        </div>
                        <div class="pro-details-compare-wishlist pro-details-wishlist ">
                            <a href="/products/productsCompare"><i class="pe-7s-refresh-2"></i></a>
                        </div>
                    </div>
                </div>
                <!-- product details description area start -->
                <div class="description-review-wrapper">
                    <div class="description-review-topbar nav">
                        <button data-bs-toggle="tab" data-bs-target="#des-details2">Thông số</button>
                        <button class="active" data-bs-toggle="tab" data-bs-target="#des-details1">Mô tả</button>
                        <button data-bs-toggle="tab" data-bs-target="#des-details3">
                            {{#with totalRating}}
                            Đánh giá ({{TongDanhGia}})
                            {{/with}}
                        </button>
                    </div>
                    <div class="tab-content description-review-bottom">
                        {{#with productDetail}}
                        {{#with productInf}}
                        <div id="des-details2" class="tab-pane">
                            <div class="product-anotherinfo-wrapper text-start">
                                <ul>
                                    <li><span>Ram: </span> {{Ram}}</li>
                                    <li><span>Rom: </span> {{Rom}}</li>
                                    <li><span>Màn hình: </span> {{ManHinh}}</li>
                                    <li><span>Độ phân giải: </span> {{DoPhanGiai}}</li>
                                    <li><span>Chip xử lí: </span> {{ChipXuLi}}</li>
                                    <li><span>Pin: </span> {{Pin}}</li>
                                    <li><span>Màu sắc: </span> {{MauSac}}</li>
                                </ul>
                            </div>
                        </div>
                        <div id="des-details1" class="tab-pane active">
                            <div class="product-description-wrapper">
                                <p>
                                    {{MoTa}}
                                </p>
                            </div>
                        </div>
                        {{/with}}
                        {{/with}}

                        <div id="des-details3" class="tab-pane">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ratting-form-wrapper pl-50">
                                        <div class="ratting-form">
                                            <form id="comment-form">
                                                <input name="idUser" type="hidden" value="1">

                                                {{#with productDetail}}{{#with productInf}}
                                                <input name="idProduct" type="hidden" value="{{MaSanPham}}">
                                                {{/with}}{{/with}}

                                                <input name="rating" type="hidden" value="5">
                                                <div class="star-box">
                                                    <span>Đánh giá của bạn: </span>
                                                    <div class="rating-product">
                                                        <i class="fa fa-star" value="1"></i>
                                                        <i class="fa fa-star" value="2"></i>
                                                        <i class="fa fa-star" value="3"></i>
                                                        <i class="fa fa-star" value="4"></i>
                                                        <i class="fa fa-star" value="5"></i>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="rating-form-style form-submit">
                                                            <textarea name="content" placeholder="Nội dung"></textarea>
                                                            <div id="error-add-comment" style="color: red; font-size: 0.9em; margin-bottom: 1em;"></div>
                                                            <button id="add-comment-btn" class="btn btn-primary btn-hover-color-primary" type="button">Đánh giá</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div id="new-comment"></div>
                                    {{#each someRating}}
                                    <div class="review-wrapper">
                                        <div class="single-review">
                                            <div class="review-img">
                                                <img src="/images/review-image/1.png" alt="" />
                                            </div>
                                            <div class="review-content">
                                                <div class="review-top-wrap">
                                                    <div class="review-left">
                                                        <div class="review-name">
                                                            <h4>{{HoTen}}</h4>
                                                        </div>
                                                    </div>
                                                    <div class="review-left">
                                                        <div class="rating-product">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="review-bottom">
                                                    <p>
                                                        {{NoiDung}}
                                                    </p>
                                                    <span style="font-size: 0.8em; opacity: 0.8">{{ThoiGian}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                                <div class="col-lg-12">
                                    <div class="ratting-form-wrapper pl-50">
                                        <div class="detail-comments-btn">
                                            <button>Xem thêm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product details description area end -->
            </div>
        </div>
    </div>
</div>
<!-- Product Area Start -->
<div class="product-area related-product">
    <div class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center m-0">
                    <h2 class="title">Sản Phẩm Liên Quan</h2>
                </div>
            </div>
        </div>
        <!-- Section Title & Tab End -->
        <div class="row">
            <div class="col">
                <div class="new-product-slider swiper-container slider-nav-style-1">
                    <div class="swiper-wrapper">
                        {{#each relatedProducts}}
                        <div class="swiper-slide">
                            <!-- Single Prodect -->
                            <div class="product">
                                <span class="badges">
                                <span class="new">Mới</span>
                                </span>
                                <div class="thumb">
                                    <a href="/products/detail?id={{MaSanPham}}" class="image">
                                        <img src="{{HinhAnh}}" alt="Product" />
                                        <img class="hover-image" src="{{HinhAnh}}" alt="Product" />
                                    </a>
                                </div>
                                <div class="content">
                                    <span class="category"><a href="#">{{ThuongHieu}}</a></span>
                                    <h5 class="title">
                                        <a href="/products/detail">{{TenSanPham}}</a>
                                    </h5>
                                    <span class="price">
                                    <span class="new">{{DonGiaThapNhat}} - {{DonGiaCaoNhat}}</span>
                                    </span>
                                </div>
                                <div class="actions">
                                    <button title="Add To Cart" class="action add-to-cart" data-bs-toggle="modal" data-bs-target="#exampleModal-Cart"><i
                                        class="pe-7s-shopbag"></i></button>
                                    <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i
                                            class="pe-7s-like"></i></button>
                                    <button class="action quickview" data-link-action="quickview" title="Quick view" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                                    <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i
                                            class="pe-7s-refresh-2"></i></button>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End -->
<!-- Javascript for client side -->
<script src="/js/products-detail-add-comment.js" defer></script>